<!-- Footer Start -->
<div class="container-fluid bg-dark pt-3 wow " data-wow-delay="0.1s">
    <div class="mx-3 pt-3">
        <div class="row g-5">
            <div class="col-md-4">
                <div class="footer-item">
                    <h2 class="fw-bold mb-3"><span class="text-primary mb-0">Baby</span><span
                            class="text-light">Care</span></h2>
                    <p class="mb-4 text-light text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Cumque numquam repellat explicabo voluptatum? Aut autem ad cum velit explicabo non asperiores,
                        dolorum quisquam beatae modi veniam distinctio neque laborum officiis?</p>
                    <div class="border border-light p-3 rounded bg-dark">
                        <h5 class="text-light">Newsletter</h5>
                        <p class="text-light">Subcribe Our Newsletter Service</p>
                        <form action="/newsletter" method="post">
                            <div class="btn-group news-letter-form w-100">
                                <input type="email" name="email" placeholder="Email Address">
                                <button class="btn btn-light" type="submit"><i
                                        class="fs-3 fa fa-envelope text-primary"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="">
                    <h4 class="text-light mb-4 border-bottom border-light border-2 d-inline-block title-border-radius">
                        Timmings
                    </h4>
                    <p class="text-light">Monday: 8am to 5pm</p>
                    <p class="text-light">Tuesday: 8am to 5pm</p>
                    <p class="text-light">Wednes: 8am to 5pm</p>
                    <p class="text-light">Thursday: 8am to 5pm</p>
                    <p class="text-light">Friday: 8am to 5pm</p>
                    <p class="text-light">Saturday: 8am to 5pm</p>
                    <p class="text-light">Sunday: Closed</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-item">
                    <h4
                        class="text-light mb-4 border-bottom border-light border-2 d-inline-block p-2 title-border-radius">
                        LOCATION
                    </h4>
                    <div class="d-flex flex-column align-items-start">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-light mb-4"><i
                                class="fs-5 fa fa-map-marker text-primary me-2"></i>I-48, Sana Store, Okhla</a>
                        <a href="tel:+919113440016" class="text-start rounded-0 text-light mb-4"><i
                                class="fs-5 fa fa-phone text-primary me-2"></i> +91-8979627951</a>
                        <a href="https://wa.me/+919113440016" class="text-start rounded-0 text-light mb-4"><i
                                class="fs-5 fa fa-whatsapp text-primary me-2"></i> +91-8979627951</a>
                        <a href="mailto:ansariwasim0663@gmail.com" class="text-start rounded-0 text-light mb-4"><i
                                class="fs-5 fas fa-envelope text-primary me-2"></i>ansariwasim0663@gmail.com</a>
                        <div class="footer-icon d-flex">
                            <a class="btn btn-light btn-sm-square me-3 rounded-circle text-white" href="#"><i
                                    class="text-primary fab fa-facebook-f"></i></a>
                            <a class="btn btn-light btn-sm-square me-3 rounded-circle text-white" href="#"><i
                                    class="text-primary fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-light btn-sm-square me-3 rounded-circle text-white"><i
                                    class="text-primary fab fa-instagram"></i></a>
                            <a href="#" class="btn btn-light btn-sm-square rounded-circle text-white"><i
                                    class="text-primary fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-item">
                    <h4
                        class="text-light mb-4 border-bottom border-light border-2 d-inline-block p-2 title-border-radius">
                        Quick Links
                    </h4>
                    <div class="d-flex flex-column align-items-start">
                        <a href="/" class="text-light"><span
                                class="material-symbols-outlined float-start">chevron_right</span>Home</a>
                        <a href="/about" class="text-light"><span
                                class="material-symbols-outlined float-start">chevron_right</span>About</a>
                        <a href="/service" class="text-light"><span
                                class="material-symbols-outlined float-start">chevron_right</span>Services</a>
                        <a href="/program" class="text-light"><span
                                class="material-symbols-outlined float-start">chevron_right</span>Programs</a>
                        <a href="/event" class="text-light"><span
                                class="material-symbols-outlined float-start">chevron_right</span>Events</a>
                        <a href="/blog" class="text-light"><span
                                class="material-symbols-outlined float-start">chevron_right</span>Blogs</a>
                        <a href="/team" class="text-light"><span
                                class="material-symbols-outlined float-start">chevron_right</span>Team</a>
                        <a href="/testimonial" class="text-light"><span
                                class="material-symbols-outlined float-start">chevron_right</span>Testimonials</a>
                        <a href="/contact" class="text-light"><span
                                class="material-symbols-outlined float-start">chevron_right</span>Contactus</a>
                        <a href="#" class="text-light"><span
                                class="material-symbols-outlined float-start">chevron_right</span>Privacy Policy</a>
                        <a href="#" class="text-light"><span
                                class="material-symbols-outlined float-start">chevron_right</span>T&C</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark ">
    <div class="mx-3">
        <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Baby Care</a>, All right
            reserved.</span>
    </div>
    {{!-- <div class="col-md-6 my-auto text-center text-md-end text-white">
        <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
        <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
        <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a
            clas="border-bottom" href="https://themewagon.com">ThemeWagon</a>
    </div> --}}

</div>
<!-- Copyright End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i
        class="fa fa-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
{{!--
<script src="https://code.jquery.com/jquery-3.7.1.js"></script> --}}
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script>
    new DataTable('#mytable');
</script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>

<script>
    var editor1 = new RichTextEditor("#div_editor1");
    //editor1.setHTMLCode("Use inline HTML or setHTMLCode to init the default content.");
</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        loop: true,
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>
</body>

</html>