</head>

<body>

    <!-- Spinner Start -->
    <div id="spinner"
        class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar start -->
    <div class="container topbar bg-primary py-2" style="border-radius: 0 40px">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-light" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"></i> <a href="#" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" class="text-white"><span class="d-none d-md-inline-block">I-48,
                            Sana Store,
                            Okhla</span></a>
                </small>
                <small class="me-3">
                    <a target="_blank" href="mailto:ansariwasim0663@gmail.com" class="text-white"><i
                            class="fas fa-envelope me-2 text-light"></i><span
                            class="d-none d-md-inline-block">ansariwasim0663@gmail.com</span></a>
                </small>
                <small class="me-3">
                    <a target="_blank" href="tel:+918979627951" class="text-white"><i
                            class="fas fa-phone me-2 text-light"></i><span
                            class="d-none d-md-inline-block">+91-8979627951</span></a>
                </small>
                <small class="me-3">
                    <a target="_blank" href="https://wa.me/+918979627951" class="text-white"><i
                            class="fa fa-whatsapp fs-5 me-2 text-light"></i><span
                            class="d-none d-md-inline-block">+91-8979627951</span></a>
                </small>
            </div>
            <div class="top-link pe-2">
                <a href="#" class="btn btn-light btn-sm-square rounded-circle"><i
                        class="fab fa-facebook-f text-primary"></i></a>
                <a href="#" class="btn btn-light btn-sm-square rounded-circle"><i
                        class="fab fa-twitter text-primary"></i></a>
                <a href="#" class="btn btn-light btn-sm-square rounded-circle"><i
                        class="fab fa-instagram text-primary"></i></a>
                <a href="#" class="btn btn-light btn-sm-square rounded-circle me-0"><i
                        class="fab fa-linkedin-in text-primary"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid border-bottom bg-light wow fadeIn sticky-top" data-wow-delay="0.1s">
        <div class="px-0 mx-4">
            <nav class="navbar navbar-light navbar-expand-xl py-3">
                <a href="/" class="navbar-brand">
                    <h1 class="text-primary display-6">Baby<span class="text-secondary">Care</span></h1>
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="/about" class="nav-item nav-link">About</a>
                        <a href="/service" class="nav-item nav-link">Services</a>

                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Other</a>
                            <div class="dropdown-menu m-0 bg-primary rounded-0">
                                <a href="/program" class="dropdown-item bg-light">Programs</a>
                                <a href="/event" class="dropdown-item bg-light">Events</a>
                                <a href="/blog" class="dropdown-item bg-light">Our Blog</a>
                                <a href="/team" class="dropdown-item bg-light">Our Team</a>
                                <a href="/testimonial" class="dropdown-item bg-light">Testimonial</a>
                            </div>
                        </div>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                    </div>
                    <div class="navbar-nav mx-auto">
                        {{#if session.login}}
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{session.name}}</a>
                            <div class="dropdown-menu m-0 bg-primary rounded-0">
                                <a href="/admin" class="dropdown-item bg-light">Dashboard</a>
                                <a href="/admin/user/logout" class="dropdown-item bg-light">Logout</a>
                            </div>
                        </div>
                        {{else}}
                        <a href="/admin/user/login" class="nav-item nav-link">Login</a>
                        {{/if}}
                    </div>
                    <div class="d-flex me-4">
                        <div id="phone-tada" class="d-flex align-items-center justify-content-center">
                            <a href="tel:+918979627951" class="position-relative wow tada" data-wow-delay=".9s">
                                <i class="fa fa-phone text-primary fa-2x me-4"></i>
                                <div class="position-absolute" style="top: -7px; left: 20px;">
                                    <span><i class="fas fa-comment-dots text-secondary"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="d-flex flex-column pe-3 border-end border-primary">
                            <span class="text-primary">Have any questions?</span>
                            <a href="tel:+918979627951"><span class="text-primary">+91-8979627951</span></a>
                        </div>
                    </div>
                    <button class="btn-search btn btn-primary btn-md-square rounded-circle" data-bs-toggle="modal"
                        data-bs-target="#searchModal"><i class="fas fa-search text-white"></i></button>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="keywords"
                            aria-describedby="search-icon-1">
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Search End -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe width="100%" height="100%" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=I%20-%2048%20,%20Sana%20Store,%20Abul%20Fazal%20Enclave%20Part%201,%20Abul%20Fazal%20Enclave,%20Okhla,%20New%20Delhi,%20Delhi%20110025&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>