{{>header}}
<title> {{title}}</title>
{{>navbar}}

{{>hero}}

<div class="container-fluid my-5 text-center">
    <h1>Thank You</h1>
    <h2>Your Email Address Has Been Registered in Newsletter Subscription</h2>
    <h5>Now We Can Send Email To You Regarding Service Update, New Programs, News Blog, and Upcomming Events</h5>
    <p>If You Want to Unsubscribe, please Contact us</p>
    <a href="/contact" class="btn btn-primary">Contact Us</a>
</div>


{{>footer}}